// 1490x1040
$ratio: 1490 / 1080;
$ratio-vh: $ratio * 100vh;
$ratio-vw: $ratio * 100vw;
$rratio: 1 / $ratio;
$rratio-vh: $rratio * 100vh;
$rratio-vw: $rratio * 100vw;

@keyframes card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes card-fading-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card {
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-name: card;
  animation-timing-function: ease-in;
  border-radius: 2.1rem;
  opacity: 1;
  overflow: hidden;

  // The screen is thinner than it is tall.
  @media (max-width: 100vh) {

    // The screen isn't as wide as a card.
    @media (max-width: $rratio-vh) {
      max-height: $ratio-vw;
      max-width: 100vw;
      min-height: $ratio-vw;
      min-width: 100vw;
    }

    // The screen is wider than a card.
    @media (min-width: $rratio-vh) {
      max-height: 100vh;
      max-width: $rratio-vh;
      min-height: 100vh;
      min-width: $rratio-vh;
    }
  }

  // The screen is wider than it is tall.
  @media (min-width: 100vh) {
    transform: rotateZ(90deg);

    // The screen isn't as wide as a card.
    @media (max-width: $ratio-vh) {
      margin: ($rratio-vw - 100vw) / 2 auto;
      max-height: 100vw;
      max-width: $rratio-vw;
      min-height: 100vw;
      min-width: $rratio-vw;
    }

    // The screen is wider than a card.
    @media (min-width: $ratio-vh) {
      margin: (100vh - $ratio-vh) / 2 auto;
      max-height: $ratio-vh;
      min-height: $ratio-vh;
      max-width: 100vh;
      min-width: 100vh;
    }
  }

  > img {
    height: 100%;
    width: 100%;
  }
}

.card-fading-out {
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-name: card-fading-out;
  animation-timing-function: ease-out;
  opacity: 0;
}
