::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  background-color: #202020;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  font-size: 16px;
  height: 100%;
}

#root {
  height: 100%;
}
