$black: #202020;
$white: #F0F0F0;

$primary: #0097A7;
$primary-fg: $black;

$primary-dark: #006978;
$primary-dark-fg: $white;

$primary-light: #56C8D8;
$primary-light-fg: $black;

$secondary: #5C6BC0;
$secondary-fg: $white;

$secondary-dark: #26418F;
$secondary-dark-fg: $white;

$secondary-light: #8E99F3;
$secondary-light-fg: $black;

$serif: "MPlantin", sans-serif;
